Options -Indexes
<IfModule mod_rewrite.c>
	RewriteEngine	on
	#RewriteCond		%{HTTP_HOST}			^sitio.cl$
	#RewriteRule		^(.*)$					"http://www.sitio.cl/$1" [R=301,L]
	RewriteRule		^$		webroot/		[L]
	RewriteRule		(.*)	webroot/$1		[L]
</IfModule>
<IfModule mod_php5.c>
   php_value short_open_tag 1
   php_value post_max_size 30M
   php_value upload_max_filesize 30M
</IfModule>