@charset 'utf-8';
html, body {
	height: 100%;
}
.query-historial-versiones pre.query {
	display: none;
	font-size: 10px;
}
.lockscreen-container .lockscreen-box {
    width: 240px;
}
.lockscreen-container .lockscreen-box .lsb-form {
	width: 100%;
}
.lockscreen-container .alert {
	margin-top: 15px;
	padding: 4px;
}
.lockscreen-container .alert a {
	display: none;
}
.fila-filtro {
	margin-bottom: 20px;
}
.btn.btn-limpiar {
	padding: 1px 5px;
	line-height: normal;
	margin-left: 5px;
}

.icons-list li {width: 50%;}
.select-icon {cursor: pointer;}
.table-responsive {overflow-x: inherit; }

.aviso {
	background: #fea223;
	padding: 5px 10px;
	border-radius: 5px;
	color: #fff;
}

.x-navigation .xn-search::before {
    content: '\f290' !important;
    color: #fff;
}

.btn.btn-buscar {
    margin-top: 22px;
}

.image-perfil-list {
	width: 55px;
}

.usuarios-tabla td {
	vertical-align: middle !important;
}

/* ui autocomplete */

.ui-helper-hidden-accessible {
	display: none !important;
}
.ui-autocomplete {
    background: #FFF;
    border: 1px solid #D5D5D5;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    list-style: none;
    padding-left: 0;
}

.ui-autocomplete .ui-menu-item {
    background: #FFF;
    border-bottom: 1px solid #D5D5D5;
    line-height: 20px;
    padding: 8px 15px;
}

.ui-autocomplete .ui-menu-item:hover {
	cursor: pointer;
	background-color: #4B4A4A;
    color: #fff;
}